@use '../../base/variables' as *;
@use '../../utils' as *;

.m-tour-date {
	background-color: $rich-black;
	padding: rem(24px);
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	&__details {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: rem(24px);
	}

	&__info {
		p {
			margin: 0;
		}
		&__name {
			margin-bottom: rem(8px) !important;

			@include respond-to($mobile) {
				font-size: rem(16px);
				font-weight: bold;
			}
		}
	}

	&__link {
		display: inline-block;
		a {
			text-decoration: none;
			color: $dark-scale0;
			text-transform: uppercase;
			border: rem(1px) solid $dark-scale60;
			border-radius: rem(24px);
			padding: rem(8px) rem(12px);
		}
	}
}
