@use '../../utils' as *;
@use '../../base/index' as *;

.a-bio__padding {
	margin: rem(120px) 0;
	grid-template-rows: none;
}
.a-bio {
	&__image {
		max-width: 100%;
		grid-column: 1/6;
		@include respond-to($desktop-small) {
			grid-column: 1/6;
		}
		@include respond-to($tablet) {
			grid-column: 1/13;
		}
	}

	&__about {
		grid-column: 7/13;

		@include respond-to($desktop-small) {
			grid-column: 1/13;
			position: absolute;
			display: grid;
			grid-template-columns: repeat(13, 1fr);
		}

		@include respond-to($tablet) {
			grid-column: 1/13;
			position: relative;
		}

		.h5 {
			margin: 0;
			@include respond-to($desktop-small) {
				padding-left: rem(12px);
				grid-column: 7/13;
			}

			@include respond-to($tablet) {
				grid-column: 1/13;
				padding-left: 0;
			}
		}

		&__paragraph {
			font-weight: 400;
			@include respond-to($desktop-small) {
				grid-gap: rem(24px);
				grid-column: 1/14;
				display: grid;
			}
			@include respond-to($tablet) {
				grid-column: 1/13;
				grid-gap: rem(0px);
			}

			p {
				@include respond-to($tablet) {
					grid-column: 1/13;
				}
				&:first-child {
					font-weight: 600;
					opacity: 1;
					@include respond-to($desktop-small) {
						grid-column: 7/14;
					}
				}

				&:not(:first-child) {
					opacity: 0.7;
				}

				&:last-child {
					@include respond-to($desktop-small) {
						grid-column: 1/14;
					}
					@include respond-to($tablet) {
						grid-column: 1/13;
					}
				}

				&:not(:last-child) {
					@include respond-to($desktop-small) {
						grid-column: 7/14;
					}
					@include respond-to($tablet) {
						grid-column: 1/13;
					}
				}
			}
		}
	}
}
