@use '../../utils' as *;

.a-bio {
	&__image {
		grid-column: 1/7;
	}

	&__about {
		grid-column: 8/13;

		.h5 {
			margin: 0;
		}

		&__paragraph {
			font-weight: 400;

			p {
				&:first-child {
					font-weight: 600;
					opacity: 1;
				}

				&:not(:first-child) {
					opacity: 0.7;
				}
			}
		}
	}
}
