@use './../utils' as *;
@use './../base/variables' as *;

body {
	color: $white;
	background-color: #222222;
}

.p-home {
	&__header {
		background-image: url(images/header.jpg);
		background-size: cover;
		background-position: center;
		height: 100vh;
		width: 100vw;

		&__social-icons {
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);

			@include respond-to($tablet-small) {
				top: auto;
				bottom: rem(64px);
				right: unset;
				left: 50%;
				transform: translateX(-50%) translateY(0);

				.o-social-icons {
					flex-direction: row;
				}
			}
		}
	}

	&__video{
		margin-top: rem(192px);

		&__title{
			grid-column: 1/13;
		}

		&__embed--big {
			grid-column: 1/13;
		}

		&__embed--small {
			grid-column: span 4;

			@include respond-to($tablet) {
				grid-column: span 12;
			}

			@include respond-to($mobile) {
				grid-column: span 4;
			}
		}
	}

	&__tour {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: rem(16px);

		@include respond-to($tablet) {
			grid-template-columns: 1fr;
		}
	}
}
