@use './../utils' as *;
@use './../base/variables' as *;

body {
	color: $white;
	background-color: #222222;
}

.p-home {
	&__heading {
		margin-top: rem(256px);
	}

	&__header {
		background-image: url(images/header.jpg);
		background-size: cover;
		background-position: center;
		height: 100vh;
		width: 100vw;

		&__social-icons {
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);

			@include respond-to($tablet-small) {
				top: auto;
				bottom: rem(64px);
				right: unset;
				left: 50%;
				transform: translateX(-50%) translateY(0);

				.o-social-icons {
					flex-direction: row;
				}
			}
		}
	}

	&__tour {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: rem(16px);

		@include respond-to($tablet) {
			grid-template-columns: 1fr;
		}
	}

	&__releases {
		&__heading {
			margin-top: rem(256px);
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;

			@include respond-to($tablet-mini) {
				flex-direction: column;
				align-items: flex-start;
			}
		}

		&__covers {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			gap: rem(16px);

			@include respond-to(1200px) {
				grid-template-columns: repeat(3, 1fr);
			}

			@include respond-to($tablet) {
				grid-template-columns: repeat(2, 1fr);
			}

			@include respond-to($mobile) {
				grid-template-columns: 1fr;
			}
		}
	}

	&__links {
		margin-bottom: rem(16px);
		display: flex;
		flex-direction: row;
		gap: rem(16px);

		&__spotify {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: rem(8px);
			text-decoration: none;
			color: $dark-scale100;
			background-color: $spotify-green;
			border-radius: rem(20px);
			padding: rem(8px) rem(12px);
		}
		&__applemusic {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: rem(8px);
			text-decoration: none;
			color: $dark-scale60;
			background-color: $dark-scale0;
			border-radius: rem(20px);
			padding: rem(8px) rem(12px);
		}
	}
}
