/*
* Media Queries
*/
$desktop: 1440px;
$tablet: 835px;
$tablet-small: 720px;
$mobile: 390px;

//::::::::::::::
//*** COLORS ***
//::::::::::::::

$white: #ffffff;
$dark-scale100: #101010;
$dark-scale90: #262626;
$dark-scale60: #686868;
$dark-scale30: #a9a9a9;
$dark-scale20: #bfbfbf;
$dark-scale10: #d5d5d5;
$dark-scale0: #ebebeb;
$rich-black: #040404;
$spotify-green: #1ed760;
