/*
* Media Queries
*/
$desktop: 1440px;
$desktop-small: 1200px;
$tablet: 835px;
$tablet-small: 720px;
$mobile: 390px;

//::::::::::::::
//*** COLORS ***
//::::::::::::::

$white: #ffffff;
$dark-scale100: #101010;
$dark-scale90: #262626;
$dark-scale60: #686868;
$dark-scale0: #ebebeb;
$rich-black: #040404;
